@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

:root {
  --background: #f9fafb;
  --foreground: #030712;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}